{% extends 'base.html.twig' %}

{% block title %}{{page_title}} Donkey Series{% endblock %}

{% block body %}


<div class="container-fluid pt-5">
    <div class="row m-5">
        <div class="col-12">
            <h1 class="text-center">{{page_title}}</h1>
        </div>
    </div>
     {{ component('ProgramSearchComponent') }} 
</div>
{% endblock %}

