body {
    background-color: var(--bs-light) !important;
}
.div-citation {
    color: var(--bs-dark);
}

.home-sub-title {
    color: var(--bs-primary) !important;
}


.bg-primary {
    --bs-bg-opacity: 1;
    background-color: var(--bs-primary) !important;
}



