.bg-image-home {
    background-image: url('../img/picture/donkey-series-home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
}