h1 {
    font-family: var(--global-tillana);
}

h2 {
    font-family: var(--global-changa);
}

h3 {
    font-family: var(--global-indieFlower);
}

// h4 {

// }

// h5 {
// }

// h6 {
//}

p {
    font-family: var(--global-titilliumWeb);
}

a {
    font-family: var(--global-titilliumWeb);
}

ul {
    list-style: none;
}