<div {{ attributes }} class="collapse navbar-collapse d-flex flex-column position-absolute  translate-middle div-search">
    <div class="row search-nav-bar">
        <div class="col-12 d-flex justify-content-center flex-column">
            <input type="search" data-model="query" placeholder="Rechercher">
             {% if query != "" %}
                <ul class=" text-white list-search-header list-group overflow-visible">
                    {% for program in this.programs %}
                        {# {{ dump(program.title)  }} #}
                        <li class="list-group-item list-group-item-action"><a href="{{ path('app_program_show', {'program_slug': program.slug}) }}" class="result-search-header dropdown-item">{{ program.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>
   