<div {{ attributes }} class="collapse navbar-collapse d-flex flex-column position-relative">
    <div class="row m-5">
        <div class="col-12 d-flex justify-content-center flex-column">
            <input type="search" data-model="query" placeholder="Rechercher une série, un film, un épisode...">
             {% if query != "" %}
                <ul class=" text-white list-search-header list-group overflow-visible">
                    {% for program in this.programs %}
                        {# {{ dump(program.title)  }} #}
                        <li class="list-group-item"><a href="{{ path('app_program_show', {'program_slug': program.slug}) }}" class="result-search-header dropdown-item">{{ program.title }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>
   